<mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav [mode]="isScreenSmall() ? 'over' : 'side'" [opened]="!isScreenSmall()" class="app-sidenav mat-elevation-z10">
    <mat-toolbar color="primary">
        <span>Menu Items</span>
    </mat-toolbar>
    <mat-nav-list>
            <mat-list-item>
               <a matLine [routerLink]="['/world-cases']">
               <mat-icon>map</mat-icon> World Cases</a>
            </mat-list-item>
            <mat-list-item>
                <a matLine [routerLink]="['/data-tables']">
                 <mat-icon>table</mat-icon> Data Tables</a>
             </mat-list-item>
             <mat-list-item>
                 <a matLine [routerLink]="['/graphs']">
                 <mat-icon>graph</mat-icon> Graphs</a>
             </mat-list-item>
             <mat-list-item>
                 <a matLine [routerLink]="['/latest-news']">
                 <mat-icon>paper</mat-icon> Latest News</a>
             </mat-list-item>
            
          </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="app-sidenav-content">
        <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>

        <div class="wrapper">
        <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
